.the-line {
  background-color: #F2D7AD;
}

.tech-with-points {
  padding: 0px 20px;
}

.points-goal {
  @extend .form-control;
  display: inline-block;
  width: 6em;
  margin: 0 10px;
}

#add-story-dialogue {
  .rf-Field {
    @extend .form-group;
  }
  input {
    @extend .form-control;
  }
}
