.backlog {
  .the-line {
    background-color: #F2D7AD;
  }

  .tech-with-points {
    padding: 0px 20px;
  }

  .add-story {
    @include make-xs-column(4);
  }

  .points-goal {
    @include make-xs-column(5);
    input {
      display: inline-block;
      width: 6em;
      margin: 0 10px;
    }
  }


  .create-taskboard {
    @include make-xs-column(3);
  }

  .open-spec-button {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-xs;
  }
  .edit-story-button {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-xs;
  }
  .delete-story-button {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-xs;
  }
}


.story-list {
  @extend .table;

  .tech {
    min-width: 5em;
    max-width: 20%;
  }
  .manager {
    min-width: 5em;
    max-width: 20%;
  }
  .epic {
    min-width: 5em;
    max-width: 20%;
  }
  .points {
    width: 5em;
  }
  .actions {
    width: 11em;
  }
}
