$row-padding: 11px;
$line-height: 18px;
// $row-height: 2 * $row-padding + $line-height; = 40px

@mixin story-row() {
  padding: $row-padding 0;
  height: $line-height;
  box-sizing: content-box;
  border-bottom: 1px solid #ddd;
}

.lazy-renderer {
  overflow-y: none;
}

.backlog {
  .the-line {
    background-color: #F2D7AD;
  }

  .tech-with-points {
    padding: 0px 20px;
  }

  .add-story {
    @include make-xs-column(4);
  }

  .points-goal {
    @include make-xs-column(5);
    input {
      display: inline-block;
      width: 6em;
      margin: 0 10px;
    }
  }


  .create-taskboard {
    @include make-xs-column(3);
  }

  .open-spec-button {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-xs;
  }
  .edit-story-button {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-xs;
  }
  .delete-story-button {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-xs;
  }
}

.story-list {
  .story-row {
    @extend .row;
    @include story-row();
    overflow-y: hidden;
    &.header {
      font-weight: bold;
    }
  }
  .tech {
    @include make-xs-column(1);
  }
  .manager {
    @include make-xs-column(1);
  }
  .epic {
    @include make-xs-column(1);
  }
  .points {
    @include make-xs-column(1);
  }
  .story {
    @include make-xs-column(6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .actions {
    @include make-xs-column(2);
  }
}

.the-line {
  @extend .row;
  @include story-row();
  overflow-y: hidden;
}

.lazy-renderer {
  overflow-x: hidden;
}
