$row-height: 10em;

.task-list {
  @extend .row;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.taskboard-story, .taskboard-story-title {
  @include make-xs-column(2);
}
.taskboard-story {
  height: $row-height;
  border-radius: 0.5em;
}

.taskboard-section-title, .taskboard-story-title {
  font-weight: bold;
}

.taskboard-sections {
  @include make-xs-column(10, 0);
}

.taskboard-section, .taskboard-section-title {
  @include make-xs-column(4);
}

.task {
  @include make-xs-column(6);
  background-color: #CCC;
  overflow: hidden;
  height: $row-height;
  border-radius: 0.5em;

  .save-button {
    display: none;
  }

  button {
    @extend .btn;
    @extend .btn-default;
  }

  .description{
    min-height: 100px;
    width: 100%;
    cursor: pointer;
  }
  textarea {
    height: 90px;
  }
}



// TASKBOARD COLOURS
.taskboard {
  .pink {
    $color: #FF66B5;
    background-color: $color;
  }
  .orange {
    $color: #FFB066;
    background-color: $color;
  }
  .yellow {
    $color: #FFFC66;
    background-color: $color;
  }
  .aqua {
    $color: #66FFFC;
    background-color: $color;
  }
  .purple {
    $color: #B066FF;
    color: white;
    background-color: $color;
  }
  .mint {
    $color: #29FF90;
    background-color: $color;
  }
  .blue {
    $color: #66B5FF;
    background-color: $color;
  }
}
